// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//remixicon

@import "~remixicon/fonts/remixicon.css";

@import "~toastr";

@import "./lib/markdown";

@import "./lib/snow";

html, body {

  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin: 0;
}

.site-header {
  background: #333333;
  color: white;
  text-align: center;
  padding: 36px 5.5556% 5.25em;
}

.z-index-5 {
  z-index: 5
}
.main-content {
  margin-top: -6rem;
}

.md-index-content {
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-indent:2em;

}


.overflow_hidden{
  overflow:hidden;
}


.links {
  text-align: center;
  //margin-bottom: 20px;
}

.links > a {
  color: white;
  //padding: 0 25px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}


a {
  color: #999999;
}

a:hover {
  color: gray;
}


.min-vh-90 {
  min-height: 90vh !important;
}


.min-vh-10{
  min-height: 10vh !important;
}

.pt-vh-5{
  padding-top: 5vh !important;
}

.g-mb-6{
  margin-bottom: 6rem !important;
}
.editor-toolbar.fullscreen{
  z-index: 1031;
}

.min-vw-20 {
  min-width: 10vw !important;
}

:focus{
  outline: none !important;
}

.header{
  padding: 8rem;
  border-bottom: 1px solid #e3e3e3;
}
.site-title a{
  font-size: 2.5rem;
}

.header .container {
  display:block;
}

.header .tagline {
  display: inline-block;
  color: white;
}




.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  background: #242424;
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus
{
  background: white;
  color: gray;
}

.nav-item{
  margin-right: 1rem;
}


.form-control:focus
{
  box-shadow : none !important;
}


.card-header{
  background-color: rgb(248, 249, 250);
}


.div-center {
  margin: 0 auto;
}

.btn-outline-info:hover {
  color: #ffffff;
  background-color: #6cb2eb;
  border-color: #6cb2eb;
}



:focus {
  box-shadow: none !important;
}

