// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//remixicon

@import "~remixicon/fonts/remixicon.css";

// simplemde
@import "~simplemde/dist/simplemde.min.css";

// cropper
//@import "~cropperjs/dist/cropper.min.css";

@import "~select2/dist/css/select2.min.css";

@import "~toastr";

@import "~admin-lte/dist/css/adminlte.min.css";

@import "~admin-lte/docs_html/assets/css/style.css";

@import "~admin-lte/dist/css/alt/adminlte.components.min.css";

@import "./../lib/snow";


.form-control:focus
{
  box-shadow:none !important;
}

.btn:focus, .btn.focus
{
  box-shadow:none !important;
}

a{
  color: gray;
}

a:hover{
  color: black;
  text-decoration-line: none;
}

//////////////Select2 样式修改//////////////
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple{
  border-color:#343a40 !important;
}
:focus {
  outline: none !important;
}

.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #343a40 !important;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
  border-color: #343a40 !important;
  border-radius: 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover{
  background-color: #343a40;
  color: #fff;
}
.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus{
  border-color: #343a40 !important;
}
.select2-container--default .select2-dropdown,.select2-container--default .select2-selection--single{
  border-radius:0 !important;
  border-color: #343a40 !important;
}
.select2-container--default .select2-selection--multiple{
  border-color: #343a40 !important;
  border-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-color: #343a40 !important;
  border-radius: 0 !important;
  background: none !important;
  color: #343a40 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: #343a40 !important;
}
//////////////Select2 样式修改//////////////


//////////////Markdown 样式修改//////////////
.editor-preview-side,.CodeMirror-fullscreen ,.editor-toolbar.fullscreen{
  z-index: 999999;
}

.editor-toolbar{
  border-color: #343a40 !important;
  border-radius: 0 !important;
  opacity: 1;
}
.editor-toolbar a {
  color: #343a40 !important;
}
.CodeMirror {
  border-color: #343a40 !important;
}
.editor-toolbar a.active, .editor-toolbar a:hover {
  border-color: #343a40 !important;
}